.footer-container {
  margin-top: 40px;
  background-color: #f8f8f8;
  padding: 30px;
  font-size: 14px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section,
.footer-logo {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-logo h2 {
  color: #6c2bd9;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul,
.footer-logo ul {
  list-style: none;
  padding: 0;
}

.footer-section li,
.footer-logo li {
  margin-bottom: 6px;
}



.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}