

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b996f;
    padding: 10px 30px;
    color: white;
  }
  
  .navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links .nav-button {
    margin-right: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links .nav-button:hover {
    background-color: #b86128;
  }
  .navbar-links .signin-button {
    background-color: #ff6600;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .navbar-links .signin-button:hover {
    background-color: #4834a0;
  }